.aboutBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.aboutContent {
    flex-grow: 1;
}

.article {
    color: white;
    margin: 0 auto;
    width: 50%;
}

.note {
    color: #bbb7bb;
}