.formbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
  }
  
  .inputBox {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
  }

  .btn {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    cursor: pointer;
    font-size: 17px;
    background-color: #68a6f6;
  }