.formbox {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
  }

  .required {
    font-style: italic;
    margin-bottom: 5px;
    color: #bbb7bb;
  }
  
  .inputBox {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
  }

  .btn {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    cursor: pointer;
    font-size: 17px;
    background-color: #68a6f6;
  }

  .spinContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .showSpin {
    width: 15px !important;
    height: 15px !important;
    float: right;
  }

  .hideSpin {
    display: none;
  }